ns9.wixdns.netns9.wixdns.netns9.wixdns.netns9.wixdns.net@charset "UTF-8";
/* CSS Document */
img {
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
}
.term {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: gray;
    border-width: 0.5px;

    width: 75%;
    padding: 20px;
    margin: 15px 8px;
    margin-left: auto;
    margin-right: auto;
}
.bottom-btn {
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.top-btn {
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.pageTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}
.nav {
    display: none;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 40px auto 40px auto;
    
}
.nav-title {
}
a {
    text-decoration: none;
}
html {
/*    font-family:  trajan-pro-3, serif;*/
}
.totalCreditHoursTitle {
    padding: 15px;
}
.course {
    text-align: center;
    width: 250px;
}
.course-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}
.section-title {
    margin: 0px;
    padding: 15px 0px 0px 0px;
    font-family: Arial;
    font-size:25px;
    font-weight: 100;
}
.term-title {
    margin: 0;
    padding-bottom: 15px;
    color: #b20718;
}
.table {
    table-layout: auto;
    border: 1px solid #ddd;
    text-align: left;
    border-collapse: collapse;
    border-color: red;
    height: auto;
    margin: 20px 0px;
}


#program-evaluation {
    width: 80%;
    margin: auto;
}
.program-evaluation-box {
    border: solid;
    border-style: solid;
    border-color:gray;
    border-width: 0.5px;
    padding: 15px;
    margin: 15px 0px;
    background:rgba(255,255,255,0.5);
}
.course-visualization-box {
    display: flex;
    margin: 10px 0px;
    flex-direction: row;
}
.course-title {
    padding: 5px;
    margin: 8px;
}
.scheduleBTN {
    background-color: gray;
    margin: 0px 30px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 5px 5px;
    text-decoration: none;
    width: 60%;
}
.scheduleBTN:hover {
    background-color: #b20718;
}
.one-course {
    margin: 8px 0px;
    border-style:solid;
    border-color: #b20718;
}
.course-title
{
    margin: 0px 20px;
}

.program-evaluation-section-details {
        line-height:40%;
}

.program-evaluation-course-fulfilment-indicator {
    color:red;
}

.program-evaluation-table {
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-spacing: 20px; 
}

.program-evaluation-cell {
    padding:15px;
    border-style: none;
    color:white;
    background:gray;
    font: 15px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.program-evaluation-cell:hover {
    padding:15px;
    border-style: none;
    color:white;
    background: #b20718
}

.term-inquiry {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}

.text{
  position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    font-size: 25px;
    line-height: normal;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}



.term-choise-BTN {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:2px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    width: 150px;
    margin: 0px auto;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:13px 24px;
	text-decoration:none;
}
.term-choise-BTN:hover
{

	background:linear-gradient(to bottom, #b8d9a8 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
td
{
    width:10%;
    padding: 5px;
    font-size: 12px;
    justify-content: center;
    word-wrap:break-word

}

.course-selection
{

    table-layout: auto;
    border: 1px solid white;
    background-color: lightgray;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 5px;
    word-wrap: break-word;
}
table
{
    table-layout: fixed;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    display: block;
}
tr
{
    width: 30%;
    text-align: left;
    padding-bottom: 5px;
    font-size: 12pt;
    position: relative;

}
.course-selection-Name
{
  font-weight: bold;
}

#fall-registered-course-list
{
    color: gray;
    background-color: white;
}

#fall-programEvaluation-CourseSelectionTableDiv {
    position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}


.quickSectionLink {
    background-color: white;
    border-style: none;
    margin: 20px 15px;
    display: inline-block;
    cursor: pointer;
    color: gray;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 15px;

}
.quickSectionLink:hover{
    color:#b20718;
}
#quickSectionLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.program-evaluation-title {
    text-align: center;
    color: #b20718;
    
}

bcolor: gray;
    font-size: 45px;   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:6px 24px;
	text-decoration:none;
    
}
.main-pageBTN:hover
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}

#course-credits
{
    color:#b20718;
}
.nav-link {
    font-size: 20px;text-transform: uppercase;
    text-decoration: none;
    margin: 0px 15px;
    color: gray;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}
.badges
{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 10px;
}
.badgeImage {
    width:100%;
    height: 100%;
    padding: 0px 15px;
    
    -webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.badgeImage:hover{
    filter: none;
}
.badges .badge-descrition
{
  visibility: hidden;
  width: 320px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
    cursor: default;

  /* Position the tooltip */
  position: absolute;
top:500px;
  z-index: 1;
}
.badges:hover{
    filter: none;
}

.badges:hover .badge-descrition
{

  visibility: visible;
}



.align {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:80%;

}
#selected.nav-link
{
    color:#b20718;
}


#separator {
    width: 5%;
    height: 5%;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
}


#mainLogo {
width: 30%;

}
.disclaimer .explanation
{
    padding:15px;
    border-style: none;
    color:white;
    background-color:gray;
    font: 15px Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.disclaimer-table {
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    border-style: none;
    border-spacing: 20px; 
}

.disclaimerBTN {
    background-color: #b20718;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 5px 5px;
    text-decoration: none;
    width: 50%;
}



#main {
    display: none;
}

#DISC-main-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#DISC-title {
display: flex;
    flex-direction: column;
    align-items: center;
}
